.tasksCounter {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0 1.5rem 0;
  padding: 0 1rem;
}

.createdTasksCounter {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--blue-500);
  font-weight: 700;
  font-size: .875rem;
}

.createdTasksCounter span {
  color: var(--gray-100);
  background-color: var(--gray-400);
  padding: .12rem .5rem;
  border-radius: 999px;
  font-size: .75rem;
}

.completedTasksCounter {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--purple-500);
  font-weight: 700;
  font-size: .875rem;
}

.completedTasksCounter span {
  color: var(--gray-100);
  background-color: var(--gray-400);
  padding: .12rem .5rem;
  border-radius: 999px;
  font-size: .75rem;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}